<!DOCTYPE html>
<html>
<head>
    <title>reset-password</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
</head>
 
<body>
<section class="container">
    <form action="/add-plant" class="form" method="POST" enctype="multipart/form-data">
        <div class="form_group">
            <label for="add" class="form_label">Enter plant name: </label>
            <input type="text" class="form_input" name="name">
        </div>
        <div class="form_group">
            <label for="add" class="form_label"></label> Enter temperature: </label>
            <input type="text" class="form_input" name="temperature">
        </div>
        <div class="form_group">
            <label for="add" class="form_label"></label> Enter light: </label>
            <input type="text" class="form_input" name="light">
        </div>
        <div class="form_group">
            <label for="add" class="form_label"></label> Enter moisture: </label>
            <input type="text" class="form_input" name="moisture">
        </div>
        <div class="form_group">
            <label for="add" class="form_label"></label> Enter explanation: </label>
            <input type="text" class="form_input" name="explanation">
        </div>
        <div class="form_group">
            <label for="add" class="form_label"></label> Enter image: </label>
            <input type="file" class="form_input" name="image">
        </div>
        <button class="form_button" value="upload">upload</button>
    </form>
</section>
</body>
 
</html>