<!DOCTYPE html>
<html>
<head>
    <title>reset-password</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
</head>
 
<body>
<section class="container">
    <form action="/reset-password" class="form" method="POST">
        <div class="form_group">
            <label for="password" class="form_label">Enter new password: </label>
            <input type="password" class="form_input" name="password">
        </div>
        <div class="form_group">
            <label for="password" class="form_label"></label> Retype your new password: </label>
            <input type="password" class="form_input" name="password">
        </div>
        <div class="form_group">
            <label for="password" class="form_label"></label>
            <input type="hidden" class="form_input" name="hash "value="<%=message%>">
        </div>
        <button class="form_button" value="reset">reset</button>
    </form>
</section>
</body>
 
</html>