<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .outer{
            border: 2px solid rgb(161, 161, 207);
            border-radius:10px;
            width: 500px;
            height: 450px;
            padding: 1%;
            margin: auto;
            margin-top: 30px;
        }
        p{
            font-size: 15px;
            margin-top: 40px;
        }
        h2{
            color: rgb(22, 40, 174);
            text-align: center;
        }
        span{
            color: rgb(3, 47, 159);
        }
    </style>
</head>
<body>
    <div class="outer">
    <h2>Hello {{name}},</h2>
    <div id="info">
        <p>this is your link : </p>
        <p><a href={{link}}>click here</a></p>
        <a href={{link}}>{{link}}</a>
        <p><i>You have just 48 hours </i></p>
        
</div>
</body>
</html>